
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : Vijayan PP
PROJECT :Nim
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.themecolor
{
    color:#c89b50;/*Defines the theme color*/
}

.imagemParceiro{
    width: 120px;
    object-fit: cover;
    border-radius:50%;
    width: 160px;
    height: 160px;
    border: 5px solid white
}
.partnerText{
    margin-left:20px;
}
.partnerIcon{
    font-size: 20px !important;
}
.theme_background_color,#downloadbt:hover
{
    background-color:#c89b50; /*Defines the theme bakcground color*/
}
.nim-menu.navbar-default .navbar-nav > li > a:hover
 {
color:#c89b50;
}
.social li a:hover
{
    color:#c89b50;
}
.sub-footer
{
    border-top-color:#c89b50;
}
.work-desc
{
    background:#c89b50;
}
.work-desc h3
{
    color:#fff;
}

.footer
{
    border-top-color:#c89b50;
}
.black
{
    color:#000;
}

.white
{
    color:#fff;
}
.black-background
{
    background-color:#000;
}

.white-background
{
    background-color:#fff;
}

.grey
{
    color:#676565;
}
.grey_background_color
{
    background-color:#676565;
}

.sectionTitle hr
{
  border-color:#c89b50; 
}

.sectionTitle .line{
    border-color:#fff;
}

.sectionTitle .line hr
{
    border-color:#dbdbdb;
}

ol.type li a:hover{ color:#c89b50;}

.ramsh-menu.navbar-default .navbar-nav > li > a:hover,a.fa.fa-angle-down:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus
{
    color:#c89b50;
}

.navbar-toggle
{
 
 color:#c89b50;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span,#contactbtn:hover {
	
	background:#c89b50;
}
.owl-theme .owl-controls .owl-page.active span{
	background:#c89b50;
}